
presentation/barley_presentation.aux
presentation/barley_presentation.log
presentation/barley_presentation.nav
presentation/barley_presentation.out
presentation/barley_presentation.snm
presentation/barley_presentation.synctex.gz
presentation/barley_presentation.toc

report/report\.aux

report/report\.log

report/report\.out

report/report\.synctex\.gz

report/report\.toc
*.CDF
*.acr
*.alg
*.aux
*.ist
*.log
*.out
*.gz
